# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo

# Model (badi file hai)
backend/model/psl_model.pkl

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# macOS
.DS_Store
